:root {
  --bs-moderateViolet: hsl(263,55%,52%);
  --bs-grayishBlue: hsl(217,19%,35%);
  --bs-blakishBLue: hsl(219,29%,14%);
  --bs-White: hsl(0,0%,100%);
  --bs-Gray: hsl(0,0%,81%);
  --bs-50Gray: hsl(0,0%,91%);
  --bs-lightGrayishBLue: hsl(210,46%,95%);
  --bs-lightViolet: rgb(172, 134, 233);
  --bs-superLightViolet: rgb(213, 199, 236);
}

body{
  font-family: 'Barlow Semi Condensed', sans-serif;
  font: 'Barlow Semi Condesned';
  font-size: 13px;
  background-color: var(--bs-lightGrayishBLue)
}

.box{
  display: grid;
  padding: 1em 12em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "el1 el1 el2 el5"
  "el3 el4 el4 el5"
  ;
}

.el1{
  background-image: url(/images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-color: var(--bs-moderateViolet);
  border-radius: 1em;
  padding: 2em;
  grid-area: el1;
  margin: 1em;
  color: white;
  background-position: 80% 2%;
}


.el2{
  grid-area: el2;
  margin: 1em;
  background-color:var(--bs-grayishBlue);
  border-radius: 1em;
  padding: 2em;
  color: white;
}

.el3{
  grid-area: el3;
  margin: 1em;
  border-radius: 1em;
  padding: 2em 2em 0em 2em;
  background-color: var(--bs-White);
}

.el4{
  grid-area: el4;
  margin: 1em;
  border-radius: 1em;
  padding: 2em 2em 0em 2em;
  background-color: var(--bs-blakishBLue);
  color: var(--bs-White)
}

.el5{
  grid-area:el5;
  margin: 1em;
  border-radius: 1em;
  padding: 2em 2em 0em 2em;
  background-color: var(--bs-White);
}

/* box 1 stuff */
.pic1{
  width: 100%;
  display: inline-block;
  font-size: .8em;
  font-weight: 600;
}

.img1{
  border-radius: 2rem;
  float: left;
  margin: 0rem 1rem 0rem 1rem;
  border-color: var(--bs-lightViolet);
  border-width: 0.2rem;
  border-style: solid;
}

.pic1 h1{
  float: none;
  color: var(--bs-lightViolet);
  opacity: 100%;
  margin-top: .3em;
}

.pic1 light {
  color: var(--bs-superLightViolet);
}

.test1{
  color: var(--bs-lightViolet);
  margin: 1rem 1rem 1rem 1rem;
  font-size: 1.5em;
}

.p1{
  font-weight: 500;
  font-size: 2em;
  margin: 1rem 1rem 1rem 1rem;
}
/* box 1 stuff */

/* ----------------------------------- */

/* box 2 stuff */
.pic2{
  width: 100%;
  display: inline-block;
  font-size: .8em;
}

.pic2 img{
  border-radius: 2rem;
  float: left;
  margin: 0rem 1rem 0rem 1rem;
  border-color: var(--bs-Gray);
  border-width: 0.2rem;
  border-style: solid;
}

.pic2 h1{
  float: none;
  color: var(--bs-Gray) ;
  opacity: 100%;
  margin-top: .3em;
}

.pic2 light {
  color: var(--bs-Gray);
  opacity: 50%;
}

.test2{
  color: var(--bs-Gray);
  opacity: 70%;
  margin: 1rem 1rem 0rem 1rem;
  font-size: 1.5em;
}

.p2{
  font-weight: 500;
  font-size: 2em;
  margin: 1rem 1rem 1rem 1rem;
}
/* box 2 stuff */

/* --------------------------------------------- */

/* box 3 stuff */

.pic3{
  width: 100%;
  display: inline-block;
  font-size: .8em;
}

.pic3 img{
  border-radius: 2rem;
  float: left;
  margin: 0rem 1rem 0rem 1rem;
  border-color: var(--bs-White);
  border-width: 0.2rem;
  border-style: solid;
}

.pic3 h1{
  float: none;
  color: var(--bs-grayishBlue) ;
  opacity: 100%;
  margin-top: .3em;
  font-weight: 600;
}

.pic3 light {
  color: var(--bs-grayishBlue);
  opacity: 50%;
}

.test3{
  color: var(--bs-grayishBlue);
  opacity: 70%;
  margin: 1rem 1rem 1rem 1rem;
  font-size: 1.5em;
}

.p3{
  font-weight: 500;
  font-size: 2em;
  margin: 1rem 1rem 0rem 1rem;
}

/* --------------------------------------------- */

/* box 4 stuff */

.pic4{
  width: 100%;
  display: inline-block;
  font-size: .8em;
}

.pic4 img{
  border-radius: 2rem;
  float: left;
  margin: 0rem 1rem 0rem 1rem;
  border-color: var(--bs-moderateViolet);
  border-width: 0.2rem;
  border-style: solid;
}

.pic4 h1{
  float: none;
  color: var(--bs-Gray) ;
  opacity: 100%;
  margin-top: .3em;
  font-weight: 600;
}

.pic4 light {
  color: var(--bs-Gray);
  opacity: 50%;
}

.test4{
  color: var(--bs-Gray);
  opacity: 70%;
  margin: 1rem 1rem 0rem 1rem;
  font-size: 1.5em;
}

.p4{
  font-weight: 500;
  font-size: 2em;
  margin: 1rem 1rem 1rem 1rem;
}

/* --------------------------------------------- */

/* box 5 stuff */

.pic5{
  width: 100%;
  height: auto;
  display: inline-block;
  font-size: .8em;
}

.pic5 img{
  border-radius: 2rem;
  float: left;
  margin: 0rem 1rem 0rem 1rem;
  border-color: var(--bs-White);
  border-width: 0.2rem;
  border-style: solid;
}

.pic5 h1{
  float: none;
  color: var(--bs-grayishBlue) ;
  opacity: 100%;
  margin-top: .3em;
  font-weight: 600;
}

.pic5 light {
  color: var(--bs-grayishBlue);
  opacity: 50%;
}

.test5{
  color: var(--bs-grayishBlue);
  opacity: 70%;
  margin: 1rem 1rem 0rem 1rem;
  font-size: 1.5em;
}

.p5{
  font-weight: 600;
  font-size: 2em;
  margin: 1rem 1rem 1rem 1rem;
  font-style: normal;
  color: var(--bs-grayishBlue);
  opacity: 90%;
}

@media only screen and (max-width: 1440px){
  .box{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .9fr .5fr .45fr .85fr 1fr;
    grid-template-areas: 
    "el1"
    "el2"
    "el3"
    "el4"
    "el5";
    padding: 5em 0em;
  }
  .el5{
    padding-bottom: 5em;
  }
}
